*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url(../assets/police/Inter-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Lato-Regular";
  src: url(../assets/police/Lato-Regular.ttf) format("truetype");
}
body {
  background-color: #110c41;
}

.title {
  position: absolute;
  top: 25%;
  left: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Inter", sans-serif;
  color: #e6e4e5;
  font-size: 6em;
  font-weight: 900;
  text-shadow: -0.0075em 0.0075em 0 #f6f2ff, 0.005em 0.005em 0 #c1a9fc, 0.01em 0.01em 0 #c4adfc, 0.015em 0.015em #c8b1fc, 0.02em 0.02em 0 #cbb6fc, 0.025em 0.025em 0 #cebafc, 0.03em 0.03em 0 #d1befd, 0.035em 0.035em 0 #d4c3fd;
}

.paw {
  cursor: pointer;
  z-index: 101;
  width: 13%;
  transform: rotate(110deg);
  position: fixed;
}

ul {
  list-style: none;
  padding-top: 20%;
  padding-right: 10%;
}

ul a {
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
}

.liste {
  visibility: hidden;
}

.visible {
  z-index: 3;
  display: block;
  margin: 0;
  width: 50%;
  height: 650px;
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 29px;
  right: 18%;
  background: #d7e4fc;
}

.visible a {
  text-decoration: none;
  font-size: 5em;
  color: #0c073d;
}

.visible_ ul {
  opacity: 1;
  z-index: 4;
  list-style: none;
  padding-top: 15%;
}

body {
  background-image: url("https://media.giphy.com/media/2jmma5yWrWUF6uaBkw/giphy-downsized-large.gif?cid=790b761195d2feb12dfd5bd6ae4caccb0ebe51c7d212a2d6&rid=giphy-downsized-large.gif&ct=g");
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: pink;
  padding: 3%;
}

.texte {
  font-size: 7em;
  font-family: "Inter-SemiBold";
  color: #e6e4e5;
  font-weight: 900;
  text-shadow: -0.0075em 0.0075em 0 #fdf1f6, 0.005em 0.005em 0 #f39fc4, 0.01em 0.01em 0 #f3a4c7, 0.015em 0.015em #f4a9ca, 0.02em 0.02em 0 #f4aecd, 0.025em 0.025em 0 #f5b3d0, 0.03em 0.03em 0 #f6b7d3, 0.035em 0.035em 0 #f6bcd6;
}
.texte__arrow {
  font-size: 3.5em;
  position: relative;
  left: 10px;
}

.ligne {
  height: 10px;
  background: #e6e4e5;
  border-radius: 20px;
}
.ligne--gauche {
  width: 50%;
  margin-right: 3%;
}
.ligne--droite {
  width: 60%;
  margin-left: 3%;
}

.header a {
  display: flex;
  align-items: center;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 50px;
  grid-auto-rows: minmax(300px, auto);
  margin: 50px;
}

.frame {
  background: white;
  width: 310px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  height: 280px;
  width: 280px;
}

.photo--3 {
  background: url(../assets/images/6.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.photo--2 {
  background: url(../assets/images/4.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.photo--1 {
  background: url(../assets/images/1.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.photo--4 {
  background: url(../assets/images/16.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.photo--5 {
  background: url(../assets/images/5.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.photo--6 {
  background: url(../assets/images/7.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.photo--7 {
  background: url(../assets/images/8.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.photo--8 {
  background: url(../assets/images/9.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.photo--9 {
  background: url(../assets/images/17.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.photo--10 {
  background: url(../assets/images/11.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.photo--11 {
  background: url(../assets/images/12.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
}

.photo--12 {
  background: url(../assets/images/20.jpeg) no-repeat;
  background-size: 100%;
  background-position: center;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 300px;
  height: 300px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrap_frame {
  border-radius: 4px;
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e4669d, pink);
}

.date_photo {
  align-self: flex-end;
}

.border_back {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: solid 1px black;
  padding: 2%;
}

body {
  background-image: url(../assets/images/Snapchat-1993855060-removebg-preview.png);
  color: #423a3a;
  background-position-y: 100px;
}

.texte {
  text-shadow: -0.0075em 0.0075em 0 #fef4f2, 0.005em 0.005em 0 #f7b4ab, 0.01em 0.01em 0 #f7b8b0, 0.015em 0.015em #f8bcb4, 0.02em 0.02em 0 #f8bfb8, 0.025em 0.025em 0 #f9c3bc, 0.03em 0.03em 0 #f9c7c0, 0.035em 0.035em 0 #f9cbc4;
}

.header {
  background-color: #eef09d;
}

.texte {
  color: #fcf6ec;
}

.ligne {
  background: #fcf6ec;
}

main {
  font-family: "Lato-regular";
}

h1 {
  text-align: center;
  margin: 10px 0 10px 0;
  border-radius: 34px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-family: "Lato-regular";
}

.question_bloc {
  width: 100%;
  border: solid 2px #eef09d;
  margin-bottom: 10px;
  box-shadow: 3px 3px 3px #f5aba1;
  background: #fffffc;
}

.intitule_question {
  font-size: 1.2em;
  padding: 5px 5px 4px 5px;
  font-weight: bold;
}

.option {
  padding: 3px 0px 0px 5px;
}

.bouton_radio {
  margin-right: 5px;
  cursor: pointer;
}

.form_quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bouton_valider {
  padding: 5px 10px 5px 10px;
  margin: 10px 0 10px 0;
  border: none;
  border-radius: 20px;
  font-family: "Lato-regular";
  font-weight: bold;
  font-size: 1.2em;
  background: #fcf6ec;
  cursor: pointer;
  border: dotted 4px #eef09d;
  width: 50%;
}
.bouton_valider:hover {
  border: dotted 4px #eb7a2e;
}

.commentaire {
  background: white;
  font-family: "Lato-regular";
  font-size: 1.2em;
  border-radius: 20px;
  border: solid;
  width: 100%;
  padding: 2%;
  text-align: center;
  background: #fcf6ec;
}

.bonne_reponse {
  font-family: "Lato-regular";
  font-weight: bold;
  font-style: italic;
  padding: 10px 5px 5px 5px;
  color: lightcoral;
}

.bouton {
  width: 45%;
  border: solid lightcoral 2px;
  border-radius: 20px;
  font-family: "Lato-regular";
  font-weight: bold;
  margin: 5px;
  background-color: #fcf6ec;
  font-size: 1em;
  cursor: pointer;
}

/*# sourceMappingURL=quiz.css.map */
