$grey: #6527f7;
$background-color: mix(#fff, rgb(12, 7, 61), 2%);
$bleu_clair:#2979FF;


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url(../assets/police/Inter-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(../assets/police/Lato-Regular.ttf) format('truetype');
}


body 
{
    background-color: $background-color
}


.title
{
    position: absolute;
    top: 25%;
    left: 30%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    font-family: "Inter", sans-serif;
    color: mix(#fff, #554e51, 85%);
	font-size: calc(1em + 7vw) ;  
	font-weight: 900;
	text-shadow: 
		-0.0075em 0.0075em 0 mix(#fff, $grey, 94%),
		0.005em 0.005em 0 mix(#fff, $grey, 60%),
		0.01em 0.01em 0 mix(#fff, $grey, 62%), 
		0.015em 0.015em mix(#fff, $grey, 64%), 
		0.02em 0.02em 0 mix(#fff, $grey, 66%), 
		0.025em 0.025em 0 mix(#fff, $grey, 68%),
		0.03em 0.03em 0 mix(#fff, $grey, 70%),
		0.035em 0.035em 0 mix(#fff, $grey, 72%);
        & h2 {
            font-size: calc(1em + 1vw) ;  
        }
}

.paw
{   
    cursor: pointer;
    z-index: 101;
    width: 15%;
    transform: rotate(110deg);
    position: fixed;
}

ul 
{
    list-style: none;
    padding-top: 20%;
    padding-right: 7%;
}

ul a {
    text-decoration: none;
    color: $background-color;
}

.visible
{   z-index:3;
    display: block;
    margin: 0;
    width: 60%;
    height: 650px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 29px;
    right: 18%;
    background: $bleu_clair;
}

.visible a {
    text-decoration: none;
    font-size: 5em;
    color: white;
}

.visible_ ul 
{
    opacity:1;
    z-index:4;
    list-style: none;
    padding-top: 20%;
    padding-right: 15%;
}



  
  